<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Variables</th>
            <th>Pipes</th>
            <th>Producto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{title}}</th>
            <td>uppercase</td>
            <td>{{ title | uppercase}}</td>
        </tr>
        <tr>
            <th>{{title}}</th>
            <td>lowercase</td>
            <td>{{ title | lowercase}}</td>
        </tr>
        <tr>
            <th>{{title}}</th>
            <td>slice:3</td>
            <td>{{ title | slice:3}}</td>
        </tr>
        <tr>
            <th>{{title}}</th>
            <td>slice:0:3</td>
            <td>{{ title | slice:0:3}}</td>
        </tr>
        <tr>
            <th>{{arreglo}}</th>
            <td>slice:1:5</td>
            <td>{{ arreglo | slice:1:5}}</td>
        </tr>

    </tbody>
</table>

<h4>Slice</h4>

<ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
</ul>